[Desktop Entry]
Name=Tinte
Comment=Color palette generator and wallpaper manager for Wayland compositors
Exec=tinte
Icon=tinte
Terminal=false
Type=Application
Categories=Graphics;Utility;GTK;
Keywords=theme;colors;wallpaper;palette;tinte;
StartupNotify=true
StartupWMClass=org.tinte.Tinte
