layout {
	border {
		on
		width 2
		active-color "#{accent.strip}"
		inactive-color "#{background.strip}"
	}
}

recent-windows {
	debounce-ms 750
	open-delay-ms 150
	highlight {
		active-color "#{accent.strip}"
		urgent-color "#{color1.strip}"
		padding 10
		corner-radius 8
	}
}
