@define-color selected-text {accent};
@define-color text {foreground};
@define-color base {background};
@define-color border {accent_dim};
@define-color foreground {foreground};
@define-color background {background};
