@define-color selected-text {color4};
@define-color text {foreground};
@define-color base {background};
@define-color border {color5};
@define-color foreground {foreground};
@define-color background {background};
